<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title><%- htmlWebpackPlugin.options.metadata.title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>" />
        <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
        <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch&display=swap" rel="stylesheet" />
        <!-- imported CSS are concatenated and added automatically -->
    </head>
    <body aurelia-app="main"></body>
</html>
