<template>
    <ul id="terminal-display" class="terminal-display">
        <li repeat.for="record of data" class="command-output">
            <div class="text-muted" if.bind="record.isCommand">></div>
            <div class="${record.isCommand ? '' : 'text-space'} ${record.css}" innerhtml="${record.text}"></div>
        </li>
    </ul>
</template>
