.cmd-base {
    background-color: #000;
    color: #fff;
    padding: 8px;
}

.text-muted {
    color: grey;
}
.text-space {
    padding: 3px;
}

.terminal-display {
    overflow-y: scroll;
    max-height: 400px;
    list-style: none;
    padding: 5px;
    padding-left: 2px;
    border: 1px solid grey;
}

.width-100 {
    width: 100%;
}

.command-output {
    display: flex;
}

.command-output > .default {
    color: #bdbdbd;
}

.command-output > .name {
    color: #0077ff;
}

.command-output > .move {
    color: #1fb900;
}

.command-output > .error {
    color: #ff0000;
}

.command-output > .bag {
    color: #b66b0a;
}

.command-output > .healed {
    color: #f824ff;
}

.command-output > .help em {
    font-style: normal;
    color: #ff0095;
}

.command-output > .attack .dealt {
    color: #00db00;
}
.command-output > .attack .received {
    color: #f30000;
}

.command-output > .attack .game-over {
    font-size: 20px;
    color: red;
}

.command-output > .attack .winner {
    font-size: 2rem;
}

.command-output .current-position {
    color: #598bff;
}
