<template>
    <require from="./history.element"></require>
    <require from="./terminal.element.css"></require>

    <div class="cmd-base">
        <div class="width-100">
            <history data.bind="data"></history>
        </div>
        <div class="width-100">
            <input
                type="text"
                class="width-100"
                value.bind="command"
                input.delegate="process() & debounce"
                keydown.delegate="processKeyPress($event) & debounce"
                placeholder="Type command"
            />
        </div>
    </div>
</template>
