<template>
    <require from="./terminal/terminal.element"></require>
    <require from="./app.application.css"></require>

    <div class="container">
        <header>
            <h1>imaginary adventure</h1>
        </header>

        <terminal io-adapter.bind="ioAdapter"></terminal>
        <p class="controls-help" innerhtml="${help}"></p>
    </div>
</template>
