body {
    background-color: black;
    display: flex;
    justify-content: center;
}

body,
input {
    font-family: 'Grenze Gotisch', cursive;
    font-size: 1.2rem;
    background-color: black;
    color: white;
}

.container {
    border: 1px solid grey;
    max-width: 1000px;
}

header {
    display: flex;
    justify-content: center;
}

.logo {
    width: 50px;
    height: 50px;
    padding: 10px;
}

h1 {
    margin: 0;
}

.controls-help {
    color: white;
    margin: 5px;
    font-size: 1rem;
}
.controls-help > em {
    color: #ff0095;
}
